<div class="contact-card">
  <header>
    <p>
      <%= @contact.name %>
    </p>
    <p>
      <%= @contact.email %>
    </p>
    <p>
      <%= @contact.phone %>
    </p>
    <p>
      <%= @contact.address %>
    </p>
  </header>
</div>

<div class="user-btn">
  <% if current_user?(@user) %>

  <%= link_to "Edit Contact", edit_user_contact_path(@user, @contact.id),
                           class: 'btn btn-success' %>

  <%= link_to 'Delete Contact', user_contact_path(@user, @contact.id), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <%= link_to "All Users", users_path, class: 'btn btn-primary' %>
</div>
